
<div class="mt-5 mb-lg-5 my-auto container justify-content-center">
<section class="error ">
	<div class="stage">
		<div class="key">
			<div class="key__head">
				<div class="key__eye"></div>
				<div class="key__eye"></div>
				<div class="key__mouth"></div>
			</div>
			<div class="key__body">
				<div class="key__indentation"></div>
				<div class="key__indentation"></div>
				<div class="key__indentation"></div>
				<div class="key__arm key__arm--left"></div>
				<div class="key__arm key__arm--right"></div>
			</div>
		</div>
		<div class="lock"></div>
	</div>
	<h1 class="error__header">403</h1>
	<h2 class="error__header error__header--secondary">Access denied</h2>
	<p class="error__description">Sorry, buddy, you really shouldn't be here.</p>
</section>
</div>
<div class="container alert alert-danger">
    <strong>Vous êtes pas autorisé</strong>
</div>
