<div class="container">
    <div>
        <h2>Ajouter un article</h2>
    </div>
    <ng-form>
        <div hidden class="col-sm-4 col-md-2 col-lg-2">
            <label>ID Produit</label>
            <input type="text" [(ngModel)]="newProduit.idProduit" name="idProduit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Produit</label>
            <input type="text" [(ngModel)]="newProduit.nomProduit" name="nomProduit" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Produit</label>
            <input type="number" [(ngModel)]="newProduit.prixProduit" name="prixProduit" class="form-control">
        </div>
        <!-- <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Categorie Produit</label>
            <select [(ngModel)]="newIdCat" class="form-control" name="categorie">
                @for (cat of categorieTabs; track cat.idCat) {
                <option [value]="cat.idCat">{{cat.nomCategorie}}</option>
                }
            </select>
        </div> -->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date Produit</label>
            <input type="date" [(ngModel)]="newProduit.dateCreation" name="prixProduit" class="form-control">
        </div>
        <div class="mt-2">
            <div type="submit" (click)="addProduit()" class="btn btnsuccess colorS">Ajouter</div>
        </div>
        <div>
            <h4>{{message}}</h4>
        </div>
    </ng-form>
</div>
